<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<!--
		<add key="Modules" value="
DevExpress.ExpressApp.v18.2;
DevExpress.ExpressApp.Objects.v18.2;
DevExpress.ExpressApp.Win.v18.2;
DevExpress.ExpressApp.Reports.Win.v18.2;
DevExpress.ExpressApp.Scheduler.Win.v18.2;
DevExpress.ExpressApp.Validation.v18.2;
DevExpress.ExpressApp.Validation.Win.v18.2;
DevExpress.ExpressApp.FileAttachment.Win.v18.2;
DevExpress.ExpressApp.Scheduler.Win.v18.2;
DevExpress.ExpressApp.AuditTrail.v18.2;
DevExpress.ExpressApp.Security.v18.2;
XCRM.Module;
XCRM.Module.Win" />
		-->
		<add key="NewVersionServer" value="" />
		<!--<add key="EnableDiagnosticActions" value="False"/>-->
		<add key="Languages" value="de;es;ja;ru" />
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="True" />
  </appSettings>
	<connectionStrings>
		<add name="SqlExpressConnectionString" connectionString="Integrated Security=SSPI;MultipleActiveResultSets=True;Data Source=.\SQLEXPRESS;Initial Catalog=XCRM_18.2;ConnectRetryCount=0" />
		<!--CanNotPatchBinConnectionString-->
		<!--
		Use the following connection string to connect to a database on the Microsoft SQLExpress Server:
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;MultipleActiveResultSets=True;Data Source=.\SQLEXPRESS;Initial Catalog=XCRM_18.2"/>
		-->
		<!--
		Use the following ConnectionString to connect to a database on the Microsoft SQL Server:
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;MultipleActiveResultSets=True;Data Source=(local);Initial Catalog=XCRM_18.2" />
		-->
  </connectionStrings>
	<system.diagnostics>
		<switches>
			<!-- Use one of the following predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
			<add name="eXpressAppFramework" value="3" />
		</switches>
	</system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2.1.0" newVersion="18.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2.1.0" newVersion="18.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Persistent.Base.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2.1.0" newVersion="18.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.Security.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2.1.0" newVersion="18.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Utils.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2.1.0" newVersion="18.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.ConditionalAppearance.v18.2" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.2.1.0" newVersion="18.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
