<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="DevExpress" value="https://nuget.devexpress.com/vbPuvMb1VpGQlFaQkSuJbliwqZldE82kFQjq3tiy5U5D3T1zmb/api" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>
